# Project exclude paths
/node_modules/
/node_modules/@socket.io/component-emitter/lib/cjs/index.js
/node_modules/@socket.io/component-emitter/lib/esm/index.js
/node_modules/@socket.io/component-emitter/LICENSE
/node_modules/@socket.io/component-emitter/Readme.md
/node_modules/@types/cors/LICENSE
/node_modules/@types/cors/README.md
/node_modules/@types/node/LICENSE
/node_modules/@types/node/README.md
/node_modules/@types/node/test/
/node_modules/@types/ws/LICENSE
/node_modules/@types/ws/README.md
/node_modules/engine.io/
/node_modules/engine.io/build/contrib/base64id.js
/node_modules/engine.io/build/contrib/types.cookie.js
/node_modules/engine.io/build/engine.io.js
/node_modules/engine.io/build/parser-v3/index.js
/node_modules/engine.io/build/parser-v3/utf8.js
/node_modules/engine.io/build/server.js
/node_modules/engine.io/build/socket.js
/node_modules/engine.io/build/transport.js
/node_modules/engine.io/build/transports/index.js
/node_modules/engine.io/build/transports/polling-jsonp.js
/node_modules/engine.io/build/transports/polling.js
/node_modules/engine.io/build/transports/websocket.js
/node_modules/engine.io/build/transports/webtransport.js
/node_modules/engine.io/build/transports-uws/index.js
/node_modules/engine.io/build/transports-uws/polling.js
/node_modules/engine.io/build/transports-uws/websocket.js
/node_modules/engine.io/build/userver.js
/node_modules/engine.io/build/utils/objectFromEntries.js
/node_modules/engine.io-parser/build/cjs/commons.js
/node_modules/engine.io-parser/build/cjs/contrib/base64-arraybuffer.js
/node_modules/engine.io-parser/build/cjs/decodePacket.browser.js
/node_modules/engine.io-parser/build/cjs/decodePacket.js
/node_modules/engine.io-parser/build/cjs/encodePacket.browser.js
/node_modules/engine.io-parser/build/cjs/encodePacket.js
/node_modules/engine.io-parser/build/cjs/index.js
/node_modules/engine.io-parser/build/esm/commons.js
/node_modules/engine.io-parser/build/esm/contrib/base64-arraybuffer.js
/node_modules/engine.io-parser/build/esm/decodePacket.browser.js
/node_modules/engine.io-parser/build/esm/decodePacket.js
/node_modules/engine.io-parser/build/esm/encodePacket.browser.js
/node_modules/engine.io-parser/build/esm/encodePacket.js
/node_modules/engine.io-parser/build/esm/index.js
/node_modules/engine.io-parser/LICENSE
/node_modules/engine.io-parser/Readme.md
/node_modules/express/LICENSE
/node_modules/express/Readme.md
/node_modules/socket.io/
/node_modules/socket.io/dist/broadcast-operator.js
/node_modules/socket.io/dist/client.js
/node_modules/socket.io/dist/index.js
/node_modules/socket.io/dist/namespace.js
/node_modules/socket.io/dist/parent-namespace.js
/node_modules/socket.io/dist/socket-types.js
/node_modules/socket.io/dist/socket.js
/node_modules/socket.io/dist/typed-events.js
/node_modules/socket.io/dist/uws.js
/node_modules/socket.io-adapter/dist/cluster-adapter.js
/node_modules/socket.io-adapter/dist/contrib/yeast.js
/node_modules/socket.io-adapter/dist/in-memory-adapter.js
/node_modules/socket.io-adapter/dist/index.js
/node_modules/socket.io-adapter/LICENSE
/node_modules/socket.io-adapter/Readme.md
/node_modules/socket.io-parser/build/cjs/binary.js
/node_modules/socket.io-parser/build/cjs/index.js
/node_modules/socket.io-parser/build/cjs/is-binary.js
/node_modules/socket.io-parser/build/esm/binary.js
/node_modules/socket.io-parser/build/esm/index.js
/node_modules/socket.io-parser/build/esm/is-binary.js
/node_modules/socket.io-parser/build/esm-debug/binary.js
/node_modules/socket.io-parser/build/esm-debug/index.js
/node_modules/socket.io-parser/build/esm-debug/is-binary.js
/node_modules/socket.io-parser/LICENSE
/node_modules/socket.io-parser/Readme.md
/node_modules/undici-types/LICENSE
/node_modules/undici-types/README.md